<div *ngIf="kommentti">
  <h2> Lisätietoja ehdotuksesta</h2>
  <div><span>Nimimerkki: </span>{{kommentti.name}}</div>
  <div>
    <span>
      Ehdotus:
    </span>
    {{kommentti.comment }} <br />
    Sijainti: Keilaranta 5
  </div>

  Tarkempi kuvaus: Kikkelis kokkelis lorem ipsum kakkeli vitusti tekstiä<br />
  <button>Kommenttoi tätä paskaa ehdotusta</button>
  <br />
  Tämä on ihan paras ehdotus eli annan tälle peukkua painamalla tästä <button>Peukalon kuva</button>

  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>
