<div class="w3-row-padding w3-center w3-padding-64" id="topehdotukset">

  <div *ngFor='let s of suggestions' class="w3-third w3-margin-bottom">
    <ul class="w3-ul w3-border w3-hover-shadow">
      <li class="w3-theme">
        <p class="w3-xlarge">{{s.label}}</p>
      </li>
      <li class="w3-padding-16"><b>Tykkäykset </b>{{s.likes}}</li>
      <li class="w3-padding-16"><b>Käyttäjätunnus </b>{{s.profiili.nickName}}</li>
      <li class="w3-padding-16"><b>Tarkempi kuvaus ehdotuksesta: </b> <br /></li>
      <li class="w3-padding-16">{{s.suggestion}}</li>

      <li class="w3-theme-l5 w3-padding-24">
        <a routerLink="/lisatiedot/{{s.id}}"> Tarkemmat tiedot </a>
    </ul>

  </div>
  </div>
