<!DOCTYPE html>

<head>
  <title>TännenäiNy</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>

    body, label, h1, h2, h3, h4, h5, h6 {
      color: #344055;
      font-family: "Lato", sans-serif
    }

    .w3-bar, h1, button {
      color: #344055;
      font-family: "Lato", sans-serif
    }

    .fa-anchor, .fa-coffee {
      font-size: 200px
    }
  </style>
</head>
<div id="kartta">
  <agm-map [latitude]="latitude"
           [longitude]="longitude"
           [zoom]="zoom"
           [disableDefaultUI]="false"
           [zoomControl]="false"
           (mapClick)="mapLicked($event); mapClicked($event);"
           [styles]="customStyle">
    <!--(mapClick)="mapClicked($event)"-->

    <agm-marker [iconUrl]="'http://i65.tinypic.com/2i9oy76.jpg'"
                *ngFor="let m of markers; let i = index"
                (markerClick)="clickedMarker(m.label, i)"
                [latitude]="m.latitude"
                [longitude]="m.longitude"
                [markerDraggable]="m.draggable"
                (dragEnd)="markerDragEnd(m, $event)">

      <agm-info-window [isOpen]="true" [disableAutoPan]="true" #infoWindow>

        <a href="/lisatiedot/{{m.id}}"> <strong> {{m.label }} </strong> </a> <br />
        <strong> Tykkäykset: {{m.likes}} </strong>  <br />
        <strong> Kommentit: 3</strong>
      </agm-info-window>

    </agm-marker>

    <agm-marker *ngFor="let p of parkers; let i = index"
                (markerClick)="clickedMarker(p.label, i)"
                [latitude]="p.latitude"
                [longitude]="p.longitude"
                [markerDraggable]="p.draggable"
                (dragEnd)="markerDragEnd(m, $event)">


      <agm-info-window [isOpen]="true" [disableAutoPan]="true"
                       #infoWindow>
        <div (click)="show = !show">
          <strong>  Paina lisätäksesi uusi ehdotus {{p.label }} </strong>
        </div>
      </agm-info-window>
    </agm-marker>


    <agm-circle [latitude]="latitude + 0.3" [longitude]="longitude"
                [radius]="5000"
                [fillColor]="'red'"
                [circleDraggable]="true"
                [editable]="true">
    </agm-circle>
  </agm-map>
</div>
<ng-container *ngIf="auth.isAuthenticated()">
  <div *ngIf="show">
    <div>
      <label>

        <input #ehdotuksetNimi placeholder=" Ehdotuksesi otsikko" />
      </label>
    </div>
    <label>

      <textarea #ehdotuksetKuvaus cols="30" rows="10" placeholder="Ehdotuksesi tarkempi kuvaus tänne"></textarea>
      <!--<input #ehdotuksetKuvaus cols="30" rows="10" />-->
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <div>
      <button (click)="add(ehdotuksetNimi.value, ehdotuksetKuvaus.value); ehdotuksetNimi.value=''; ehdotuksetKuvaus.value='';">

        Lisää vittu hieno ideasi tänne!!!
      </button>
    </div>
  </div>
</ng-container>


