
    <label>
      Ehdotukset otsikko:
      <input #ehdotuksetNimi />
    </label>
    <label>
      Ehdotukset tarkempi kuvaus:
      <input #ehdotuksetKuvaus />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(ehdotuksetNimi.value, ehdotuksetKuvaus.value); ehdotuksetNimi.value=''; ehdotuksetKuvaus.value='';">

      Lisää vittu hieno ideasi tänne!!!
    </button>
 
    <agm-map [latitude]="latitude"
             [longitude]="longitude"
             [zoom]="zoom"
             [disableDefaultUI]="false"
             [zoomControl]="false"
             (mapClick)="mapClicked($event)">
      <agm-marker *ngFor="let m of markers; let i = index"
                  (markerClick)="clickedMarker(m.label, i)"
                  [latitude]="m.latitude"
                  [longitude]="m.longitude"
                  [markerDraggable]="m.draggable"
                  (dragEnd)="markerDragEnd(m, $event)">

        <agm-info-window [isOpen]="true" [disableAutoPan]="true" #infoWindow>

          <a href="/ehdotukset"> <strong> {{m.label }} </strong> </a> <br />
          <strong> Tykkäykset: 5 </strong>  <br />
          <strong> Kommentit: 3</strong>
        </agm-info-window>

      </agm-marker>

      <agm-circle [latitude]="latitude + 0.3" [longitude]="longitude"
                  [radius]="5000"
                  [fillColor]="'red'"
                  [circleDraggable]="true"
                  [editable]="true">
      </agm-circle>
    </agm-map>
